body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#FFFFFF;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}  
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}
img{ 
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc
    padding: 24px 0;

}



.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px
}
.container-header{
    display: flex;
    align-items: center;
    
    
}


.header-logo {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
display: flex;
justify-content: center;

}

.header-logo span {
color: #2e2f42;
}
.header-link {
display: flex;
gap: 40px;

}

.navigation{
display: flex;
align-items: center;
}

.header-link-item {
   color: #2e2f42; 
    } 


.header-address-link-item{

}



.header-social-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;

}
.header-social-link:hover {
color:#404bbf;
}
.header-social-link:focus {
 color:#404bbf;

}

.header-address {
    justify-content: flex-end;
    margin-left: auto;
    font-style: normal;
}

.header-address-link {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;
    gap: 40px;  
}

.header-address-contact-link{
    
}
.header-address-contact-link {
    color: #434455;
    font-weight: 400;
}

.header-address-contact-link:hover, .header-address-contact-link:focus {
color: #404bbf;
}





.header-address-link {
    margin: auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    
}

.main {
}

.main-goal {
background-color: #2e2f42;
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url( ../images/people-office.jpg);
;
background-repeat: no-repeat;
background-position: center center;
}



.main-goal-title {
text-align: center;
font-size: 56px;
line-height: 1.07;

letter-spacing: 0.02em;
color: #ffffff;
max-width: 496px;
margin: 0 auto;



}

.main-goal-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
display: block; 
min-width: 169px;
height: 56px;
border: none;
background-color: #4d5ae5;
border-radius: 4px;
margin: 48px auto 0 auto;

 

}
.main-goal-btn:hover,
.main-goal-btn:focus {
background-color: #404BBF;
}

.main-description {
    padding: 120px 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-description-list {
    display: flex;
    gap: 24px;
}

.main-description-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.main-description-subtitle-before {
content: "";
width: 264px;
height: 112px;
border-radius: 4px;
border: 1px solid rgba(142, 143, 153, 1);
display: block;
margin-bottom: 8px;
background-color: rgba(244, 244, 253, 1);
padding: 24px 100px;
}

.main-description-list-item{
    width: calc((100% - 72px) / 4); 
}
.main-description-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.main-hero {
background-color: #F4F4FD;
padding: 120px 0;

}

    

.main-hero-title { 
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:#2e2f42;
margin-bottom: 72px;

}
.main-hero-item {
background-color: #FFFFFF;
width: calc((100% - 72px) / 4); 
border-radius: 0px 0px 4px 4px; 
}
.main-hero-name-position{
    padding: 32px 0;
}
.main-hero-list {
background-color: #F4F4FD; 
display: flex;
gap: 24px;  
}


.main-hero-image {
background-color: #FFFFFF;

}
.main-hero-subtitle {
font-weight: 500;   
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
text-align: center;
margin-bottom: 8px;

}
.main-hero-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
text-align: center;


}
.social-link-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
    

}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: rgba(244, 244, 253, 1);
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    
}
.social-link:hover{
    background-color: rgba(49, 208, 170, 1);
    
}
.main-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
    
}



.main-portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:#2e2f42;
margin-bottom: 72px;

}
.container-main-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.container-main-portfolio-item{
    width: calc((100% - 48px) / 3);
}

.container-main-portfolio-item-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.main-portfolio-image{
  
   
}
.main-portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;

}

.main-portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;


}
.footer {
background-color: #2e2f42;
padding: 100px 156px;

}
.container-common{
    display: flex;
   
}   

.footer-link-logo { 
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;

}
.footer-link-logo-color-part {
color: #f4f4fd;

}
.footer-text {
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
max-width: 264px;

}
.container-one-footer{
    width: 264px;
    height: 112px;

}
.container-two-footer{
    width: 208px;
    height: 80px;
    
    
}
